.wrapper{
  text-align: left;margin: auto;width: 95%;padding-top: 25px;max-width: 1000px;
}
.f-item{
  min-width: 240px;
}
.card-title {
  font-weight: 800;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em
}
